:root {
    --: azure;
}
  
.blocoanimais {
    display: flex ;
width:400px ;
height: 400px;
}


.animais {
    display: flex ;
background-color: beige;
color: rgb(248, 83, 83);
}

.descricao-animais { 
    background-color: beige;
color: brown;
}


body {
    background-color: rgb(128, 101, 61);
}
