body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.barra-de-cima {
    background: #242424;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    height: 100px;
    margin-right: 10px;

}

.barra-navegação {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px 20px;
    background-color: #ffffff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    border-top: 1px solid #000000;
}

.botao-adotar {
    background-color: orange;
    margin: -200px;
    padding: 8px 14px;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}

.botao-log {
       background-color: orange;
    margin: 5px;
    padding: 8px 14px;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}

.botao-cadastro {
    background-color: orange;
    margin: 15px;
    padding: 8px 14px;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}

.botao-contato {
    background-color: orange;
    margin: 15px;
    padding: 8px 14px;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}

.icone {
    height: 50px;
}