body {
    background-color: white ;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  padding: 20px;
} 

.divlogo {
width: 85px;
height: auto;
}

.blocoanimais {
background-color: #333366 ;
width:400px ;
height: auto ;
display:flex ;
flex-direction: column;
align-items: center;
}

.fotosanimais {
width: 100%;
border-radius: 8px;
}

.animais {
color: white ;
}

.descricao-animais { 
background-color: beige;
color: white ;
}

