

header {
justify-content:space-between ;
 background-color: #2f2f2f;
  padding: 10px;
  text-align: center;
}

.botoesheader {
background-color: orange;
color: #6c63ff;
 border-radius: 8px;
 font-weight: bold;
  cursor: pointer;
}

.queroadotar {
  height: 60px;
  width: 120px;
background-color: orange;
color: #6c63ff;
 border-radius: 8px;
 font-weight: bold;
  cursor: pointer;

}

 .divheader {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  padding: 10px 20px
 }

main {
    background-color: white ;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 8px;
} 

.blocoanimais {
background-color: #333366 ;
width:1000px ;
height: auto ;
display:flex ;
flex-direction: column;
align-items: center;
 }


.fotosanimais {
width: 50% ;
border-radius: 8px;
}



.animais {
color: white ;
}

.descricao-animais { 

color: white ;
}

.miau {
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
color: #333366;

}



  
